<<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand d-flex align-items-center justify-content-between" do %>
    <%= image_tag "logo/buoy.png" %>
    <h3 id="logo-title" class="ml-3 mb-0 text-display">book a boat</h3>
  <% end %>
  <% if current_user %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <div class="dropdown-item" >Log out</div>
            <% end %>
  <% else %>
    <%= link_to new_user_registration_path, class: "navbar-btn btn btn-success d-flex justify-content-between align-items-center" do %>
      <p class="letter-spacing mb-0">Sign up</p>
    <% end %>
  <% end %>
</div>
