@import "bootstrap/scss/bootstrap";

body {
  background-color: rgb(255, 244, 244);
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

h2 {
  font-family: 'Hahmlet', serif;
}

// .navbar {
//   background-color: rgb(214, 230, 214);
//   width: fit-content !important;
// }

.flex {
  display: flex;
}

.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipe-card {
  width: 100%;
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.recipe-card title {
  text-align: center;
}

.recipe-card-content {
  height: 150px;
  padding: 24px;
  background-color: #F8F9FA;
}

.recipe-card-desc {
  // align-content: bottom;
  display:inline-block;
  height: 10px;
  position: fixed;
  bottom: 0;
  margin-top: 20px !important;
}

.recipe-card-actions {
  position: relative;
  text-align: left;
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 16px 24px;
}

.col-sm {
  margin: auto;
  width: 30%;
  padding: 10px;
  justify-content: center;
}

.btn {
  background-color: hotpink;
  color: aliceblue;
}
.nav-title {
  text-decoration: underline;
}


.title-n:hover {
  color: blue;
}

#nav-row {
  display: flex;
  flex-wrap: nowrap;
}

#title {
  text-align: center;
}

.search-btn{
  display: flex;
}

#search-row {
  display: flex;
  flex-wrap: nowrap;
  max-width: 55%;
  margin: auto;
}

.search-btn {
  width: 75px;
  text-align: center;
}

.edit-title {
  text-align: center;
}

.show-desc {
  margin-top: 20px;
  padding-bottom: 30px;
}

.cat-select {
  margin-top: 3;
}

.col-show {
  width: 70%;
}

.fa {
  padding-top: 12px;
}
